html {
    text-align: center;
    background-color: black;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    background-color: black;
}

header h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
}

header a {
    color: aquamarine;
    font-size: 16px;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    background-color: black;
}

main .icon {
    display: block;
}